<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>To-Do</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<% taskController.nav.forEach(route => { %>
					<li><a href="<%= '/' + route %>"><%= route %></a></li>
					<% }) %>
				</ul>
			</nav>
		</header>
	</body>
</html>
