<%- include('./partials/header') %>
<div class="container">
	<form action="/tasks/create" method="POST" class="d-flex">
		<div class="form-group">
			<label for="title">Title</label>
			<input
				type="text"
				class="form-control"
				id="titleInput"
				placeholder="Title"
				name="title"
			/>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea
				class="form-control"
				id="descriptionInput"
				rows="3"
				placeholder="Description"
				name="description"
			></textarea>
		</div>
		<button type="submit" class="btn btn-custom">Submit</button>
	</form>
</div>
<%- include('./partials/footer') %>
