<%- include('./partials/header') %>
<main>
  <div class="container">
    <h1>Welcome to Your To-Do App</h1>
    <p>Organize your tasks efficiently.</p>
   <form action="/users/login" method="POST">
			<div class="form-group">
			<label for="emailInput">Email address</label>
			<input type="email" class="form-control" id="emailInput" placeholder="Email" name="email" />
			</div>
			<div class "form-group">
			<label for="passwordInput">Password</label>
			<input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password" />
			</div>
		<button type="submit" class="btn btn-custom">Submit</button>
    </form>
  </div>
</main>
<%- include('./partials/footer') %>
